<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Configuration des QRCodes</title>
</head>
<body>
<div class="menu">
    <input type="radio" id="select-qrcode" class="select-page" name="select" value="2" checked>
    <label for="select-qrcode" class="label-page">
        QRCodes
    </label>
    <input type="radio" id="select-config" class="select-page" name="select" value="1">
    <label for="select-config" class="label-page">
        Configuration
    </label>
    <input type="radio" id="select-label" class="select-page" name="select" value="3">
    <label for="select-label" class="label-page">
        Labels
    </label>
    <input type="radio" id="select-print" class="select-page" name="select" value="4">
    <label for="select-print" class="label-page">
        Imprimer
    </label>
    <input type="radio" id="select-settings" class="select-page" name="select" value="5">
    <label for="select-settings" class="label-page">
        Paramètres
    </label>
    <div class="menu-buttons">
        <button id="disconnect" class="disconnect-button cancel-button menu-button">Déconnexion</button>
    </div>
</div>
<div class="main">
    <div id="qrcodes" class="tab hidden">
        <% for(let sensor of sensors){ %>
            <div id="<%= sensor.name %>" class="box">
                <h3><%= sensor.name %></h3>
                <div class="edit-text for-qrcode hidden">
                <textarea rows=1 wrap="hard" class="change-label" placeholder="​" name="label-<%= sensor.name %>"
                        <% if(sensor.label != null) %>
                          id="label-<%= sensor.name %>"><%= sensor.label %></textarea>
                    <label for="label-<%= sensor.name %>" class="change-label-label">Label</label>
                </div>
                <a href="<%= sensor.link ?? "" %>" class="link-sensor hidden">Lien vers le capteur</a>
                <img id="code-<%= sensor.name %>" class="qr-code-svg hidden" src="" alt=""/>
                <% for(let type of sensor.types){ %>
                    <div class="config-data-type hidden">
                        <input type="checkbox" name="checkbox" class="set-data-type"
                               id="<%= `${sensor.name}:${type.dataType}` %>"
                        <% if(type.isDisplayed){ %>
                               checked
                                <% } %>
                        />
                        <label for="<%= `${sensor.name}:${type.dataType}` %>"
                               class="type-choice"><%= type.dataType %></label>
                    </div>
                <% } %>
                <button class="button-slider generate-qrcode">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                    <span class="button-text">Générer</span>
                </button>
                <button class="button-slider revoke-qrcode">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                    <span class="button-text">Révoquer</span>
                </button>
            </div>
        <% } %>
    </div>
    <div id="labels" class="tab hidden">
        <% for(let label of labels){ %>
            <div class="box">
                <h3><%= label.id %></h3>
                <div class="edit-text for-type">
                <textarea rows=1 class="change-label" placeholder="​" name="label-<%= label.id %>"
                          id="label-<%= label.id %>"><%= label.label %></textarea>
                    <label for="label-<%= label.id %>" class="change-label-label">Label</label>
                </div>
            </div>
        <% } %>
    </div>
    <div class="tab">
        <button class="button-slider print-qrcodes hidden">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
            <span class="button-text">Imprimer</span>
        </button>
    </div>
    <div id="settings" class="tab hidden">
        <form id="edit-password-form" class="box">
            <h2>Changer le mot de passe</h2>
            <div class="edit-text change-password">
                <input class="password-input" id="new-password" name="password" placeholder="​" required type="password"/>
                <label class="password-label change-label-label" for="new-password">Nouveau</label>
            </div>
            <div class="edit-text change-password">
                <input class="password-input" id="confirm-password" name="password" placeholder="​" required type="password"/>
                <label class="password-label change-label-label" for="confirm-password">Confirmer</label>
            </div>
            <button class="simple-button neutral-button">Modifier</button>
            <div class="hidden" id="message">Message d'erreur</div>
        </form>
        <% for(let setting of settings){ %>
            <div class="box">
                <h3><%= setting.label %></h3>
                <div class="edit-text for-setting">
                <textarea rows=1 class="change-label" placeholder="​" name="setting-<%= setting.id %>"
                          id="setting-<%= setting.id %>"><%= setting.value %></textarea>
                    <label for="setting-<%= setting.id %>" class="change-label-label">Valeur</label>
                </div>
            </div>
        <% } %>
    </div>
    <div id="confirm-revoke" class="confirm">
        <div>
            <h3 id="confirm-revocation-title">Confirmer la révocation</h3>
            <span class="confirm-text">Révoquer un QRCode rendra obsolète tous les QRCodes imprimés !</span>
            <div>
                <button id="cancel-revoke-button" class="cancel-button modal-button">Annuler</button>
                <button id="confirm-revoke-button" class="confirm-button modal-button">Confirmer</button>
            </div>
        </div>
    </div>
</div>
<script src="./script.js"></script>
</body>
</html>