<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="style.css" rel="stylesheet">
    <script src="./qrcode.js"></script>
    <meta charset="utf-8">
    <title>Génération QRCode</title>
</head>
<body>
<div class="menu">
    <input type="radio" id="select-config" class="select-page" name="select" value="1" checked>
    <label for="select-config" class="label-page">
        Configuration
    </label>
    <input type="radio" id="select-qrcode" class="select-page" name="select" value="2">
    <label for="select-qrcode" class="label-page">
        QRCodes
    </label>
    <input type="radio" id="select-print" class="select-page" name="select" value="3">
    <label for="select-print" class="label-page">
        Imprimer
    </label>
</div>
<div id="qrcodes">
    <% for(let sensor of sensors){ %>
        <div id="<%= sensor.name %>" class="qr-container">
            <h3><%= sensor.name %></h3>
            <div class="form-change-label field">
                <input type="text" class="change-label" placeholder="Label" name="label-<%= sensor.name %>"
                        <% if(sensor.label != null) %>
                       value="<%= sensor.label %>"
                       id="label-<%= sensor.name %>"/>
                <label for="label-<%= sensor.name %>" class="change-label-label">Label</label>
            </div>
            <a href="<%= sensor.link ?? "" %>" class="link-sensor hidden">Lien vers le capteur</a>
            <img id="code-<%= sensor.name %>" class="qr-code-svg hidden" src="" alt=""/>
            <% for(let type of sensor.types){ %>
                <div class="input-data-type">
                    <input type="checkbox" name="checkbox" class="set-data-type"
                           id="<%= `${sensor.name}:${type.dataType}` %>"
                    <% if(type.isDisplayed){ %>
                           checked
                            <% } %>
                    />
                    <label for="<%= `${sensor.name}:${type.dataType}` %>"
                           class="type-choice"><%= type.dataType %></label>
                </div>
            <% } %>
            <button class="manage-qr generate-qrcode hidden">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Générer</span>
            </button>
            <button class="manage-qr revoke-qrcode hidden">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Révoquer</span>
            </button>
        </div>
    <% } %>
    <div id="confirm-revoke" class="modal">
        <div class="modal-content">
            <span id="confirm-revocation-title" class="confirm-title">Confirmer la révocation</span>
            <span class="confirm-text">Révoquer un QRCode rendra obsolète tous les QRCodes imprimés !</span>
            <div>
                <button id="cancel-revoke-button" class="cancel-button modal-button">Annuler</button>
                <button id="confirm-revoke-button" class="confirm-button modal-button">Confirmer</button>
            </div>
        </div>
    </div>
</div>
<script src="./script.js"></script>
</body>
</html>